.about-wrapper-header{
    border-bottom: 3px solid rgb(11, 168, 5);
    color:rgb(11, 168, 5);
    font-weight: 800;
    margin-top: 39px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 9px;
  
}


