.products-wrapper-card {
    border: 1px solid silver;
    min-width: 250px;
    border-radius: 4px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }
  .product-img {
    margin-top: 15px;
  }
  .products-wrapper-card-inf{
    border:1px solid transparent;
  }
  .product-name {
    font-size: 27px;
    max-width: 200px;
    font-family: sans-serif;
    text-align: left;
    margin-left: 15px;
    margin-top: 19px;
    word-break: break-word;
    color:#2e2d2d;
  }
  .product-information {
    font-size: 14px;
    max-width: 230px;
    min-height: 70px;
    font-family: sans-serif;
    margin-top: 12px;
    border: 1px solid transparent;
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
    word-break: break-word;
    color:#2e2d2d;
  }
  .product-weight {
    font-size: 14px;
    max-width: 150px;
    font-family: sans-serif;
    margin-top: 5px;
    border: 1px solid transparent;
    text-align: left;
    margin-left: 15px;
    line-height: 1.5;
    word-break: break-word;
    font-weight: 800;
    color:#2e2d2d;
  }
  
  .product-wrapper-btns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
  }
  .product-price {
    margin-top: 12px;
    margin-left: 17px;
    text-align: left;
    font-size: 19px;
    word-break: break-word;
    max-width: 200px;
  }
  .product-wrapper-add{
      cursor: pointer;
      font-size: 31px;
      margin-top: 16px;
      margin-right: 21px;
  }
  .product-add{
      color:gray;
  }
  .product-add:hover{
      color: rgb(11, 168, 5);
  }
  